button#dropdown-basic-button {
  margin-bottom: 5%;
  margin-top: 8%;
}
.btn_approve {
  margin-right: 10px;
}
.pend_tx {
  margin-top: 30px!important;
  margin-bottom: 30px !important;
  border-bottom: 1px solid #0dcaf0;
  padding-bottom: 30px;
}