.request_bg{
  background-color: rgba(0,0,0,.03);
}
.request_border_info{
  border-color: #0dcaf0!important;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.main_container{
  margin-top:200px;
}
.container{
  width: 100% !important;
  max-width: 100% !important;
}